:root{
    --primary-color: #e50914;
    --dark-color: #141414;
	--light-color: #f4f4f4;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Faktor; */
    font-weight: lighter;
}
body{
    background-color: #fff;
    color: #999;
    font-family: Netflix;
    
    
}

#header-conatiner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* TOP BOTTOM LEFT RIGHT */
    /* box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000; */
}
.img1{
    width: 150px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.img1:hover{
    cursor: pointer;
}

.header1{
    
    height: 80px;
    position: relative;
    z-index: 2;
    background-color: var(--dark-color);
   
    
}


.header1 a{
    position: absolute;
    top: 50%;
    right: 1.2%;
    transform: translateY(-50%);
}
.logo{
    position: absolute;
    left: 0;
    top: 0;
    
}
.btn{
    display: inline-block;
    border: none;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 0.4rem 1.3rem;
    font-size: 1.2rem;
    font-family: Netflix;
    text-transform: capitalize;
    border-radius: 5px;
    

    
}
.btn:hover{
    opacity: 0.8;
}
.btn-rounded{
    border :1px solid var(--dark-color);
    height: 40px;
    color: #fff;
    background-color: var(--primary-color);
    
    
    
}
section h1{
    text-transform: uppercase;
    font-weight: bold;
}

.innerContent{
    padding-top:10px;
    padding-left: 20px;
    
    width: 70vw;
    height: 500px;
    text-align: left;
    line-height: 1.6rem;
}
.innerContent .imgDiv{
    display: flex;
    
    height: 90px;
    padding: 0;
    text-align: start;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerContent h1{
    padding-bottom: 10px;
}
.imgDiv div img{
    height: 80px;
    width: 180px;
    
}
.innerContent4{
    
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-170%,450%);

    
}

.innerContent4 a{
    
    color: var(--primary-color);
    cursor: pointer;
}
.innerContent2{
    position: absolute;
    top: 0;
    right: 0;
   
    height: 300px;
    width: 30vw;
    transform: translateY(40%);
}

.innerContent2 div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.innerContent3{
    position: absolute;
    right: 0;
    bottom:0;
    transform: translate(-50%,-200%);
}
.innerContent3 input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 5px;
}
footer{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--dark-color);
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  footer p  small{
    font-family:sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    color: red;
  }
  footer p small a{
    font-family:sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    color: #999;
    padding-right: 3px;
    text-decoration: none;
  }
  section h1,h2,h3{
    font-weight: bold;
    color: black;
  }
  section{
    color: black;
  }

  section button{
    border-radius: 5px;
    
  }
  .button1{
    border: 1px solid var(--dark-color);
    
  }